.card {
  display: flex;
  max-width: 20vw;
  max-height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  margin-left: 4rem;
  box-shadow: 26px 27px 30px -14px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 26px 27px 30px -14px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 26px 27px 30px -14px rgba(0, 0, 0, 0.79);
}
.card__Img {
  max-width: 20vw;
}
.card__Text {
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 20px;
}
.card__Btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  background-color: #a59be0;
  border-radius: 12px;
  margin-bottom: 30px;
}
.card:hover
{
    transform: translateY(20px)
}