.productSection
{
    display: grid;
    grid-template-rows:  auto auto;
    grid-gap: 20px;
    padding: 20px;
}
.prodSection__Intro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prodSection__Intro>h3
{
    font-size: 2.6rem;
    font-family: 'Work Sans', sans-serif; 
}
.prodSection__Intro>span{
    font-size: 1.8rem;
    opacity: 0.8;
    margin-top: 10px;
}
.productSection__Card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
}